@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: url('../fonts/Montserrat-Light.ttf');
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: url('../fonts/Montserrat-ExtraBold.ttf');
    font-style: normal;
}
